@import "../bower_components/bootstrap/less/bootstrap.less";
@icon-font-path: "../fonts/glyphicons/";

#BaseContainer {
  position: relative;
  max-width: 960px !important;
  background: url('http://replygif.net/i/939.gif');
  .border-radius( 40px );
  margin-right: 35px;
}

#ContentContainer {
  position: relative;
  margin: 40px;
  max-width: 860px !important;
  background-color: #777777;
  .border-radius( 20px );
}


#ContentContainer:hover  {
  border: 15px solid black !important;
}
#BaseContainer:hover  {
  border: 10px solid black !important;
}
#totalBoxes{
  padding-right: 20px ;
}
#totalDeletes{
  padding-right: 20px ;
}

.box {
  overflow: hidden;
  margin: 2px !important;
}
.panel.focus {
  border-color: #66AFE9;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}
.background_2 {
  background-color: red !important;
}
.background_3 {
  background-color: green !important;
}
.background_4 {
  background-color: blue !important;
}

.panel:hover {
  max-height: 122px !important;
  border: 5px solid black !important;
}
.dashboard{
  color: white;
  height: 163px;
  width: 200px;
  background-color: #000000;
  margin-left: 30px;
  border : 1px solid black; padding: 5px;
  padding: 20px;
  .border-radius( 5px );
}

.border-radius(@radius){
  .border-top-radius(@radius);
  .border-right-radius(@radius);
  .border-bottom-radius(@radius);
  .border-left-radius(@radius);
}

.img-tiny{
  margin: 0px !important;
  padding: 0px !important;
  max-width:50%;
  max-height:30px;
  border: 2px solid black !important;
}

